---
import Logo from './Logo.astro'
---
<div class="flex flex-row items-center">
	<div class="mr-auto">
		<Logo />
	</div>

	<div class="flex flex-row gap-x-12 items-center text-2xl">
		<a href="#about">ABOUT</a>
		<a href="#map">MAP</a>
		<a href="#food">FOOD</a>
		<a href="#rental">RENTAL</a>
		<a href="#event">EVENT</a>
		<a href="#other">OTHER</a>
	</div>
</div>
