---
import Header from './components/Header.astro'
import Access from './components/Access.astro'
---
<div class="py-10 px-20 h-screen bg-sky-600 text-white tracking-[0.2rem]">
	<Header />

	<div class="mt-60">
		<p class="text-5xl font-bold tracking-[0.35rem]">2024.08.15</p>
		<h1 class="pt-8 text-7xl font-bold tracking-[0.35rem]">SEA FIREWORKS FESTIVAL</h1>
	</div>

	<div class="mt-40 ">
		<Access />
	</div>
</div>
