---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<caption class="text-3xl">2024.08.14</caption>
		<h1 class="text-4xl uppercase">Sea Fireworks Festival</h1>
	</main>
</Layout>
